{% block subject %}Réinitialisation de votre mot de passe{% endblock %} {% block
body_html %} {% include 'emails/email_header.html' %}

<div class="content">
    <h1 style="margin-top: 0">Réinitialisation de votre mot de passe</h1>

    <p>Vous avez demandé à réinitialiser votre mot de passe.</p>

    <a href="{{recovery_url}}" class="button">
        Réinitialiser mon mot de passe
    </a>

    <p style="margin: 0 0 8px 0">
        <strong>Lien de réinitialisation :</strong><br />
        <a href="{{recovery_url}}" style="word-break: break-all"
            >{{recovery_url}}</a
        >
    </p>

    <p style="margin: 0">Ce lien est valide pendant 15 minutes.</p>
</div>

{% include 'emails/email_footer.html' %} {% endblock %}
